{% block body %}
    <div class="alexander {{ctrl}}" ng-app="{{app}}" ng-controller="{{ctrl}}">
        <tabset>
            <tab ng-repeat="tab in tabs" heading="[[ tab.title ]]" active="tab.active" disable="tab.disable">
                
                <formly-form model="tab.form1.model" fields="tab.form1.fields" form="vm.form1" options="tab.form1.options"></formly-form>
                [[ tab.content ]]
                <formly-form model="tab.form2.model" fields="tab.form1.fields" form="vm.form2" options="tab.form2.options"></formly-form>
                                
            </tab>
        </tabset>   
    </div>    
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}