{% block body %}
    <div class="alexander {{ctrl}}" ng-app="{{app}}" ng-controller="{{ctrl}}">
        <div class="card">
            <div class="card-head">
                <ul class="nav nav-tabs" data-toggle="tabs">
                    <li ng-repeat="field in fields" class="[[field.active]]" ><a href="#[[field.index]]">[[ field.name ]]</a></li>
                </ul>
            </div><!--end .card-head -->
            <div class="card-body tab-content">
                <div  ng-repeat="field in fields" class="tab-pane [[field.active]]" id="[[field.index]]"><p>[[ field.name ]]</p>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END LAYOUT LEFT ALIGNED -->
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}